{
  "listeners": {
      "*:8080": {
          "pass": "applications/rustapp"
      }
  },
  "applications": {
      "rustapp": {
          "type": "external",
          "working_directory": "/home/andrei/Desktop/nginx_libunit_rust",
          "executable": "/home/andrei/Desktop/nginx_libunit_rust/target/debug/nginx_libunit_rust"
      }
  }
}
